body {

font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;

    background-image: url('images/white_00025.jpg'); /* 画像のパス */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* 背景を固定 */
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

nav {
    background: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    margin: 20px 0;
    padding: 20px;
    background: #ffffff;
    border: 1px solid #ddd;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #000000
}

th, td {
    padding: 10px;
    text-align: left;
}

img {
    max-width: 100%;
    height: auto;
}

